@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Gruppo';
  font-style: normal;
  font-weight: 400;
  src: local('Gruppo'), url(https://fonts.gstatic.com/s/gruppo/v8/WwkfxPmzE06v_ZW1XnrE.ttf) format('truetype');
}
.brand {
  color: #FF6315;
}
body {
  font-family: "Gruppo";
}
a {
  text-decoration: none;
}
h2,
h3 {
  color: #FF6315;
}
h1 {
  font-weight: bold;
}
.features {
  padding: 20px;
}
.feature {
  border-style: none;
  max-width: 415px;
  max-height: 240px;
  text-align: center;
}
.feature .content {
  height: 140px;
  align-items: center;
}
.feature a {
  color: #FF6315;
}
.feature svg {
  color: #FF6315;
}
.doc a {
  color: #FF6315;
}
.doc h3 {
  font-style: italic;
}
